@model IEnumerable<Automarket.Domain.Models.Cars>
   
@{
    ViewData["Title"] = "List Cars";
}

@foreach(var car in Model)
{
    <p>@car.Name</p>
    <p>@car.Model</p>
    <p>@car.Description</p>
    <p>@car.Price</p>
    <p>@car.DateCreate</p>
}